@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
  color: #390007;
}

.app{
  min-height: 100vh;
  display: grid;
  background: #1a1a1a; /* Slightly lighter color for better visibility */
}

